In [326]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [327]:
df2019 = pd.read_csv('survey_results_public2019.csv')

In [328]:
df2019.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [329]:
col2019 = df2019.columns
print(col2019)

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [330]:
df2020 = pd.read_csv('survey_results_public2020.csv')

In [331]:
col2020 = df2020.columns
print(col2020)

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [332]:
len(col2020)

61

In [333]:
len(col2019)

85

In [334]:
# Look which columns are the same for 2019 and 2020
same_cols = []

for col in col2019:
    if(col in col2020):
        same_cols.append(col)

In [335]:
same_cols

['Respondent',
 'MainBranch',
 'Hobbyist',
 'Employment',
 'Country',
 'EdLevel',
 'UndergradMajor',
 'OrgSize',
 'DevType',
 'YearsCode',
 'Age1stCode',
 'YearsCodePro',
 'JobSat',
 'JobSeek',
 'JobFactors',
 'CurrencySymbol',
 'CurrencyDesc',
 'CompTotal',
 'CompFreq',
 'ConvertedComp',
 'WorkWeekHrs',
 'PurchaseWhat',
 'LanguageWorkedWith',
 'LanguageDesireNextYear',
 'DatabaseWorkedWith',
 'DatabaseDesireNextYear',
 'PlatformWorkedWith',
 'PlatformDesireNextYear',
 'MiscTechWorkedWith',
 'MiscTechDesireNextYear',
 'OpSys',
 'SOVisitFreq',
 'SOAccount',
 'SOPartFreq',
 'SOComm',
 'WelcomeChange',
 'Age',
 'Gender',
 'Trans',
 'Sexuality',
 'Ethnicity',
 'SurveyLength',
 'SurveyEase']

In [336]:
len(same_cols)

43

In [337]:
# Merge two dataframes

In [338]:
df_2019_subset = df2019[same_cols]

In [339]:
df_2020_subset = df2020[same_cols]

In [340]:
frames = [df_2019_subset, df_2020_subset]

In [341]:
df = pd.concat(frames)

In [342]:
df

,Respondent,MainBranch,Hobbyist,Employment,Country,EdLevel,UndergradMajor,OrgSize,DevType,YearsCode,...,SOPartFreq,SOComm,WelcomeChange,Age,Gender,Trans,Sexuality,Ethnicity,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,"Not employed, and not looking for work",United Kingdom,Primary/elementary school,NaN,NaN,NaN,4,...,NaN,Neutral,Just as welcome now as I felt last year,14.0,Man,No,Straight / Heterosexual,NaN,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,"Not employed, but looking for work",Bosnia and Herzegovina,"Secondary school (e.g. American high school, G...",NaN,NaN,"Developer, desktop or enterprise applications;...",NaN,...,A few times per month or weekly,"Yes, somewhat",Just as welcome now as I felt last year,19.0,Man,No,Straight / Heterosexual,NaN,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Employed full-time,Thailand,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,...,Less than once per month or monthly,Neutral,Just as welcome now as I felt last year,28.0,Man,No,Straight / Heterosexual,NaN,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Employed full-time,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,"Developer, full-stack",3,...,Less than once per month or monthly,"No, not really",Just as welcome now as I felt last year,22.0,Man,No,Straight / Heterosexual,White or of European descent,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Employed full-time,Ukraine,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,...,A few times per month or weekly,"Yes, definitely",Just as welcome now as I felt last year,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,Employed full-time,United States,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",NaN,Senior executive/VP,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64457,64867,NaN,Yes,Employed full-time,Morocco,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,Viet Nam,Primary/elementary school,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,Employed full-time,Poland,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,Employed full-time,Spain,"Other doctoral degree (Ph.D., Ed.D., etc.)","Computer science, computer engineering, or sof...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [343]:
df = df.reset_index(drop=True)

In [344]:
df

,Respondent,MainBranch,Hobbyist,Employment,Country,EdLevel,UndergradMajor,OrgSize,DevType,YearsCode,...,SOPartFreq,SOComm,WelcomeChange,Age,Gender,Trans,Sexuality,Ethnicity,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,"Not employed, and not looking for work",United Kingdom,Primary/elementary school,NaN,NaN,NaN,4,...,NaN,Neutral,Just as welcome now as I felt last year,14.0,Man,No,Straight / Heterosexual,NaN,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,"Not employed, but looking for work",Bosnia and Herzegovina,"Secondary school (e.g. American high school, G...",NaN,NaN,"Developer, desktop or enterprise applications;...",NaN,...,A few times per month or weekly,"Yes, somewhat",Just as welcome now as I felt last year,19.0,Man,No,Straight / Heterosexual,NaN,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Employed full-time,Thailand,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,...,Less than once per month or monthly,Neutral,Just as welcome now as I felt last year,28.0,Man,No,Straight / Heterosexual,NaN,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Employed full-time,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,"Developer, full-stack",3,...,Less than once per month or monthly,"No, not really",Just as welcome now as I felt last year,22.0,Man,No,Straight / Heterosexual,White or of European descent,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Employed full-time,Ukraine,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,...,A few times per month or weekly,"Yes, definitely",Just as welcome now as I felt last year,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153339,64858,NaN,Yes,Employed full-time,United States,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",NaN,Senior executive/VP,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153340,64867,NaN,Yes,Employed full-time,Morocco,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153341,64898,NaN,Yes,NaN,Viet Nam,Primary/elementary school,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153342,64925,NaN,Yes,Employed full-time,Poland,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153343,65112,NaN,Yes,Employed full-time,Spain,"Other doctoral degree (Ph.D., Ed.D., etc.)","Computer science, computer engineering, or sof...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [345]:
# Let's analyse columns one by one

In [346]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Employment', 'Country',
       'EdLevel', 'UndergradMajor', 'OrgSize', 'DevType', 'YearsCode',
       'Age1stCode', 'YearsCodePro', 'JobSat', 'JobSeek', 'JobFactors',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'OpSys', 'SOVisitFreq', 'SOAccount',
       'SOPartFreq', 'SOComm', 'WelcomeChange', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [347]:
# 1. Respondent

In [348]:
df['Respondent']

0             1
1             2
2             3
3             4
4             5
          ...
153339    64858
153340    64867
153341    64898
153342    64925
153343    65112
Name: Respondent, Length: 153344, dtype: int64

In [349]:
# We can remove this column from df
df = df.drop(columns=['Respondent'])

In [350]:
# 2. MainBranch
df['MainBranch']

0                    I am a student who is learning to code
1                    I am a student who is learning to code
2         I am not primarily a developer, but I write co...
3                            I am a developer by profession
4                            I am a developer by profession
                                ...
153339                                                  NaN
153340                                                  NaN
153341                                                  NaN
153342                                                  NaN
153343                                                  NaN
Name: MainBranch, Length: 153344, dtype: object

In [351]:
# In survey -> Nan -> None
df['MainBranch'] = df['MainBranch'].fillna('None')

In [352]:
df['MainBranch'].value_counts()

I am a developer by profession                                                   112872
I am a student who is learning to code                                            18159
I am not primarily a developer, but I write code sometimes as part of my work     13041
I code primarily as a hobby                                                        5654
I used to be a developer by profession, but no longer am                           2767
None                                                                                851
Name: MainBranch, dtype: int64

In [353]:
# One hot encoding
# https://e6v4p8w2.rocketcdn.me/wp-content/uploads/2021/02/pandas-one-hot-encoding.001-1024x576.png

In [354]:
# One hot encoding 
df = pd.get_dummies(df, columns=['MainBranch'])

In [355]:
df

,Hobbyist,Employment,Country,EdLevel,UndergradMajor,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,...,Sexuality,Ethnicity,SurveyLength,SurveyEase,MainBranch_I am a developer by profession,MainBranch_I am a student who is learning to code,"MainBranch_I am not primarily a developer, but I write code sometimes as part of my work",MainBranch_I code primarily as a hobby,"MainBranch_I used to be a developer by profession, but no longer am",MainBranch_None
0,Yes,"Not employed, and not looking for work",United Kingdom,Primary/elementary school,NaN,NaN,NaN,4,10,NaN,...,Straight / Heterosexual,NaN,Appropriate in length,Neither easy nor difficult,0,1,0,0,0,0
1,No,"Not employed, but looking for work",Bosnia and Herzegovina,"Secondary school (e.g. American high school, G...",NaN,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,...,Straight / Heterosexual,NaN,Appropriate in length,Neither easy nor difficult,0,1,0,0,0,0
2,Yes,Employed full-time,Thailand,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,...,Straight / Heterosexual,NaN,Appropriate in length,Neither easy nor difficult,0,0,1,0,0,0
3,No,Employed full-time,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,...,Straight / Heterosexual,White or of European descent,Appropriate in length,Easy,1,0,0,0,0,0
4,Yes,Employed full-time,Ukraine,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,...,Straight / Heterosexual,White or of European descent;Multiracial,Appropriate in length,Easy,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153339,Yes,Employed full-time,United States,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",NaN,Senior executive/VP,10,16,Less than 1 year,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1
153340,Yes,Employed full-time,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1
153341,Yes,NaN,Viet Nam,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1
153342,Yes,Employed full-time,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1
153343,Yes,Employed full-time,Spain,"Other doctoral degree (Ph.D., Ed.D., etc.)","Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1

In [356]:
# 3. Hobbyist

In [357]:
df['Hobbyist'].value_counts()

Yes    121645
No      31654
Name: Hobbyist, dtype: int64

In [358]:
# One hot encoding 
df = pd.get_dummies(df, columns=['Hobbyist'])

In [359]:
# 4. Employment

In [360]:
df['Employment'].value_counts()

Employed full-time                                      109710
Independent contractor, freelancer, or self-employed     14183
Not employed, but looking for work                        7943
Student                                                   7787
Employed part-time                                        6686
Not employed, and not looking for work                    4125
Retired                                                    601
Name: Employment, dtype: int64

In [361]:
# One hot encoding 
df = pd.get_dummies(df, columns=['Employment'])

In [362]:
# 5. Country

In [363]:
df['Country'].value_counts().sort_values()

Marshall Islands             1
Saint Kitts and Nevis        1
Grenada                      1
Dominica                     1
Kiribati                     1
                         ...
Canada                    5586
United Kingdom            9633
Germany                   9756
India                    17464
United States            33418
Name: Country, Length: 191, dtype: int64

In [364]:
# Remove countries with no many answers (less than 50)
df['Country'].value_counts()[df['Country'].value_counts() < 50]

Honduras                              48
Senegal                               47
Mauritius                             44
Rwanda                                43
Syrian Arab Republic                  42
                                      ..
Tonga                                  1
Micronesia, Federated States of...     1
Sao Tome and Principe                  1
Saint Lucia                            1
Marshall Islands                       1
Name: Country, Length: 81, dtype: int64

In [365]:
countries_to_remove = df['Country'].value_counts()[df['Country'].value_counts() < 50].index

In [366]:
countries_to_remove

Index(['Honduras', 'Senegal', 'Mauritius', 'Rwanda', 'Syrian Arab Republic',
       'Jamaica', 'Kuwait', 'Madagascar', 'Kyrgyzstan', 'Kosovo', 'Zambia',
       'Qatar', 'Somalia', 'Nomadic', 'Montenegro', 'Mongolia', 'Bahrain',
       'Yemen', 'Trinidad and Tobago', 'Maldives', 'Oman', 'Andorra',
       'Libyan Arab Jamahiriya', 'Congo, Republic of the...', 'Swaziland',
       'Democratic Republic of the Congo', 'Benin', 'Mozambique', 'Togo',
       'Angola', 'Namibia', 'Botswana', 'Tajikistan', 'Mauritania',
       'Antigua and Barbuda', 'Turkmenistan', 'Malawi', 'Burkina Faso',
       'Lao People's Democratic Republic', 'Haiti', 'Bhutan', 'Isle of Man',
       'Barbados', 'Sierra Leone', 'Guinea', 'Guyana', 'Belize', 'Bahamas',
       'Niger', 'Monaco', 'Fiji', 'Cape Verde', 'Burundi',
       'Saint Vincent and the Grenadines', 'Gambia', 'Lesotho', 'San Marino',
       'Liechtenstein', 'Brunei Darussalam', 'Djibouti', 'Mali', 'Gabon',
       'Papua New Guinea', 'Eritrea', 'Democratic People's Republic of Korea',
       'Timor-Leste', 'Seychelles', 'Chad', 'North Korea', 'Liberia',
       'Solomon Islands', 'Saint Kitts and Nevis', 'Grenada', 'Dominica',
       'Kiribati', 'Nauru', 'Tonga', 'Micronesia, Federated States of...',
       'Sao Tome and Principe', 'Saint Lucia', 'Marshall Islands'],
      dtype='object')

In [367]:
# Remove rows with country from above list
df = df[~df['Country'].isin(countries_to_remove)]

In [368]:
df = pd.get_dummies(df, columns=['Country'])

In [369]:
# 6. EdLevel  ?? agregation ??
df['EdLevel'].value_counts()

Bachelor’s degree (BA, BS, B.Eng., etc.)                                              38893
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          26314
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           19482
Some college/university study without earning a degree                                17605
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    13316
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       13026
Associate degree                                                                       2914
Other doctoral degree (Ph.D, Ed.D., etc.)                                              2427
Primary/elementary school                                                              2333
Professional degree (JD, MD, etc.)                                                     1982
Associate degree (A.A., A.S., etc.)                                                    1825
Other doctoral degree (Ph.D., Ed.D., etc.)                                             1679
I never completed any formal education                                                 1025
Name: EdLevel, dtype: int64

In [370]:
# One hot encoding 
df = pd.get_dummies(df, columns=['EdLevel'])

In [371]:
# 7. UndergradMajor           ----------------------- ??? Consider removing ???
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering                   78259
Information systems, information technology, or system administration              9206
Another engineering discipline (ex. civil, electrical, mechanical)                 6195
Web development or web design                                                      5171
Mathematics or statistics                                                          4796
Another engineering discipline (such as civil, electrical, mechanical, etc.)       4729
A natural science (ex. biology, chemistry, physics)                                3221
A natural science (such as biology, chemistry, physics, etc.)                      2194
A business discipline (ex. accounting, finance, marketing)                         1830
A humanities discipline (ex. literature, history, philosophy)                      1568
I never declared a major                                                           1420
A business discipline (such as accounting, finance, marketing, etc.)               1363
A social science (ex. anthropology, psychology, political science)                 1347
Fine arts or performing arts (ex. graphic design, music, studio art)               1228
A humanities discipline (such as literature, history, philosophy, etc.)            1003
A social science (such as anthropology, psychology, political science, etc.)        930
Fine arts or performing arts (such as graphic design, music, studio art, etc.)      721
A health science (ex. nursing, pharmacy, radiology)                                 319
A health science (such as nursing, pharmacy, radiology, etc.)                       246
Name: UndergradMajor, dtype: int64

In [372]:
# One hot encoding 
df = pd.get_dummies(df, columns=['UndergradMajor'])

In [373]:
# 8. OrgSize ?? consider numerical ??

In [374]:
df['OrgSize'].value_counts()

20 to 99 employees                                    24660
100 to 499 employees                                  21049
10,000 or more employees                              16267
1,000 to 4,999 employees                              12317
10 to 19 employees                                    10788
500 to 999 employees                                   7423
2-9 employees                                          7329
Just me - I am a freelancer, sole proprietor, etc.     6481
5,000 to 9,999 employees                               4781
2 to 9 employees                                       4351
Name: OrgSize, dtype: int64

In [375]:
# One hot encoding 
df = pd.get_dummies(df, columns=['OrgSize'])

In [376]:
# 9. DevType

In [377]:
df['DevType'].value_counts()

Developer, full-stack                                                                                                                                                                                                          12795
Developer, back-end                                                                                                                                                                                                             7978
Developer, back-end;Developer, front-end;Developer, full-stack                                                                                                                                                                  4607
Developer, front-end                                                                                                                                                                                                            3595
Developer, back-end;Developer, full-stack                                                                                                                                                                                       3509
                                                                                                                                                                                                                               ...
Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Developer, embedded applications or devices;Developer, front-end;Developer, QA or test;Educator;System administrator        1
Developer, game or graphics;Scientist;Student;System administrator                                                                                                                                                                 1
Data or business analyst;Designer;Developer, full-stack;Educator;Product manager                                                                                                                                                   1
Academic researcher;Data scientist or machine learning specialist;Developer, desktop or enterprise applications;Scientist;Student;System administrator                                                                             1
Designer;Developer, desktop or enterprise applications;Developer, embedded applications or devices;Developer, front-end;Developer, mobile;Engineer, data                                                                           1
Name: DevType, Length: 17913, dtype: int64

In [378]:
# Separated with commas

In [379]:
dev_list = list(df.DevType.str.get_dummies(sep=';').columns)

In [380]:
# Single values
dev_list

['Academic researcher',
 'Data or business analyst',
 'Data scientist or machine learning specialist',
 'Database administrator',
 'Designer',
 'DevOps specialist',
 'Developer, QA or test',
 'Developer, back-end',
 'Developer, desktop or enterprise applications',
 'Developer, embedded applications or devices',
 'Developer, front-end',
 'Developer, full-stack',
 'Developer, game or graphics',
 'Developer, mobile',
 'Educator',
 'Engineer, data',
 'Engineer, site reliability',
 'Engineering manager',
 'Marketing or sales professional',
 'Product manager',
 'Scientist',
 'Senior executive/VP',
 'Student',
 'System administrator']

In [381]:
# Add values to dataframe
df = pd.concat([df.drop('DevType', 1), df['DevType'].str.get_dummies(sep=';').add_prefix('DevType_')], 1)

In [382]:
# 10. YearsCode

In [383]:
df['YearsCode'].value_counts()

10                    11216
5                     11178
6                      9933
4                      8881
7                      8727
8                      8704
3                      8049
15                     6502
20                     6168
12                     5952
2                      5818
9                      5658
11                     3923
14                     3588
13                     3486
25                     2981
18                     2980
16                     2787
1                      2688
30                     2644
17                     2399
Less than 1 year       2095
22                     1803
19                     1669
35                     1469
23                     1313
21                     1259
24                     1138
40                     1029
26                      784
28                      777
27                      742
32                      725
38                      628
33                      589
37                      579
34                      555
36                      554
29                      412
31                      356
39                      323
More than 50 years      265
42                      242
45                      219
41                      191
43                      175
44                      121
50                       93
46                       71
48                       66
47                       63
49                       46
Name: YearsCode, dtype: int64

In [384]:
# It's numerical column, so just replace some strings.

In [385]:
# Let's assume that More than 50 years is 50 years and less than one year is 0.5 year

In [386]:
def replace_string_years(row):
    if('More than 50 years' in str(row)):
        return 55.0
    elif('Less than 1 year' in str(row)):
        return 0.5
    else:
        return float(row)

In [387]:
df['YearsCode'] = df['YearsCode'].apply(lambda row: replace_string_years(row))

In [388]:
df['YearsCode'].value_counts()

10.0    11216
5.0     11178
6.0      9933
4.0      8881
7.0      8727
8.0      8704
3.0      8049
15.0     6502
20.0     6168
12.0     5952
2.0      5818
9.0      5658
11.0     3923
14.0     3588
13.0     3486
25.0     2981
18.0     2980
16.0     2787
1.0      2688
30.0     2644
17.0     2399
0.5      2095
22.0     1803
19.0     1669
35.0     1469
23.0     1313
21.0     1259
24.0     1138
40.0     1029
26.0      784
28.0      777
27.0      742
32.0      725
38.0      628
33.0      589
37.0      579
34.0      555
36.0      554
29.0      412
31.0      356
39.0      323
55.0      265
42.0      242
45.0      219
41.0      191
43.0      175
44.0      121
50.0       93
46.0       71
48.0       66
47.0       63
49.0       46
Name: YearsCode, dtype: int64

In [389]:
# Now we have just numerical values

In [390]:
# 11. Age1stCode

In [391]:
df['Age1stCode'].value_counts()

15    14207
16    14004
14    13897
18    13199
12    12788
      ...
72        1
77        1
83        1
62        1
61        1
Name: Age1stCode, Length: 74, dtype: int64

In [392]:
df['Age1stCode'] = df['Age1stCode'].apply(lambda row: float(row))

ValueError: could not convert string to float: 'Younger than 5 years'

In [393]:
df['Age1stCode'] = df['Age1stCode'].apply(lambda row: float(row) if not 'Younger than 5 years' in row else row.replace('Younger than 5 years', '3'))

TypeError: argument of type 'float' is not iterable

In [394]:
def replaceAge(row):
    if('Younger than 5 years' in str(row)):
        return 3.0
    elif('Older than 85' in str(row)):
        return 90
    else:
        return float(row)

In [395]:
df['Age1stCode'] = df['Age1stCode'].apply(lambda row: replaceAge(row))

In [396]:
# Column looks good

In [397]:
# 12. YearsCodePro

In [398]:
df['YearsCodePro'].value_counts()

2                     12671
3                     12508
5                     10325
4                      9951
6                      7216
1                      7202
10                     7068
Less than 1 year       6120
7                      5861
8                      5649
12                     3674
15                     3642
20                     3466
9                      3191
11                     2603
13                     2274
14                     1896
18                     1694
16                     1398
25                     1313
19                     1141
22                     1134
17                     1101
30                      921
21                      887
23                      775
24                      597
35                      384
26                      380
28                      351
27                      351
32                      278
40                      229
33                      229
29                      200
31                      194
34                      187
38                      155
36                      146
37                      120
39                       94
More than 50 years       87
42                       56
45                       49
41                       46
43                       40
44                       31
50                       18
46                       14
48                       13
47                       12
49                        6
Name: YearsCodePro, dtype: int64

In [399]:
# Replace with implemented function replace_string_years

In [400]:
df['YearsCodePro'] = df['YearsCodePro'].apply(lambda row: replace_string_years(row))

In [401]:
df['YearsCodePro'].value_counts()

2.0     12671
3.0     12508
5.0     10325
4.0      9951
6.0      7216
1.0      7202
10.0     7068
0.5      6120
7.0      5861
8.0      5649
12.0     3674
15.0     3642
20.0     3466
9.0      3191
11.0     2603
13.0     2274
14.0     1896
18.0     1694
16.0     1398
25.0     1313
19.0     1141
22.0     1134
17.0     1101
30.0      921
21.0      887
23.0      775
24.0      597
35.0      384
26.0      380
28.0      351
27.0      351
32.0      278
33.0      229
40.0      229
29.0      200
31.0      194
34.0      187
38.0      155
36.0      146
37.0      120
39.0       94
55.0       87
42.0       56
45.0       49
41.0       46
43.0       40
44.0       31
50.0       18
46.0       14
48.0       13
47.0       12
49.0        6
Name: YearsCodePro, dtype: int64

In [402]:
# 13. JobSat

In [403]:
df['JobSat'].value_counts()

Slightly satisfied                    37940
Very satisfied                        36893
Slightly dissatisfied                 17754
Neither satisfied nor dissatisfied    14388
Very dissatisfied                      8543
Name: JobSat, dtype: int64

In [404]:
# Simple one hot-encoding

In [405]:
df = pd.get_dummies(df, columns=['JobSat'])

In [406]:
# 14. JobSeek - target variable, leave as it is for now

In [407]:
df['JobSeek'].value_counts()

I’m not actively looking, but I am open to new opportunities    76558
I am not interested in new job opportunities                    33955
I am actively looking for a job                                 20925
Name: JobSeek, dtype: int64

In [408]:
# 15. JobFactors

In [409]:
df['JobFactors'].value_counts()

Languages, frameworks, and other technologies I'd be working with;Office environment or company culture;Opportunities for professional development    4966
Languages, frameworks, and other technologies I'd be working with;Office environment or company culture;Flex time or a flexible schedule              4921
Languages, frameworks, and other technologies I'd be working with;Remote work options;Flex time or a flexible schedule                                4692
Office environment or company culture;Opportunities for professional development;Flex time or a flexible schedule                                     3309
Languages, frameworks, and other technologies I'd be working with;Opportunities for professional development;Flex time or a flexible schedule         3233
                                                                                                                                                      ...
Financial performance or funding status of the company or organization;Diversity of the company or organization                                          2
Specific department or team I'd be working on;Diversity of the company or organization                                                                   2
Diversity of the company or organization;Family friendliness                                                                                             2
Diversity of the company or organization;Financial performance or funding status of the company or organization                                          2
Diversity of the company or organization;Specific department or team I’d be working on                                                                   1
Name: JobFactors, Length: 389, dtype: int64

In [410]:
factors_list = list(df.JobFactors.str.get_dummies(sep=';').columns)

In [411]:
factors_list

['Diversity of the company or organization',
 'Family friendliness',
 'Financial performance or funding status of the company or organization',
 'Flex time or a flexible schedule',
 'How widely used or impactful my work output would be',
 "Industry that I'd be working in",
 'Industry that I’d be working in',
 "Languages, frameworks, and other technologies I'd be working with",
 'Languages, frameworks, and other technologies I’d be working with',
 'Office environment or company culture',
 'Opportunities for professional development',
 'Remote work options',
 "Specific department or team I'd be working on",
 'Specific department or team I’d be working on']

In [412]:
# Add values to dataframe
df = pd.concat([df.drop('JobFactors', 1), df['JobFactors'].str.get_dummies(sep=';').add_prefix('JobFactors_')], 1)

In [413]:
# 16. CurrencySymbol

In [414]:
df['CurrencySymbol'].value_counts()

USD    30426
EUR    25308
INR    11618
GBP     8023
CAD     4250
       ...
SZL        1
KGS        1
BND        1
MRU        1
MVR        1
Name: CurrencySymbol, Length: 132, dtype: int64

In [415]:
# Remove records with not popular CurrencySymbols 
df['CurrencySymbol'].value_counts()[df['CurrencySymbol'].value_counts() < 50]

PYG    49
BOB    45
MMK    45
XAF    41
XOF    34
TZS    32
ANG    30
IQD    28
VES    27
UZS    26
SDG    25
AOA    22
CUP    21
NIO    17
XPF    16
ZMW    12
KHR     7
BMD     7
AWG     7
XDR     6
non     5
BSD     4
BWP     4
GIP     4
DJF     4
FJD     3
GNF     3
BBD     3
FKP     3
CDF     2
YER     2
XCD     2
WST     2
SLL     2
SYP     2
TTD     2
IMP     2
BHD     2
BZD     2
QAR     2
SRD     2
VUV     2
HNL     1
MUR     1
KYD     1
MNT     1
LAK     1
MOP     1
BTN     1
LSL     1
HTG     1
MGA     1
GGP     1
RWF     1
SZL     1
KGS     1
BND     1
MRU     1
MVR     1
Name: CurrencySymbol, dtype: int64

In [416]:
symbols_to_remove = df['CurrencySymbol'].value_counts()[df['CurrencySymbol'].value_counts() < 50].index

In [417]:
symbols_to_remove

Index(['PYG', 'BOB', 'MMK', 'XAF', 'XOF', 'TZS', 'ANG', 'IQD', 'VES', 'UZS',
       'SDG', 'AOA', 'CUP', 'NIO', 'XPF', 'ZMW', 'KHR', 'BMD', 'AWG', 'XDR',
       'non', 'BSD', 'BWP', 'GIP', 'DJF', 'FJD', 'GNF', 'BBD', 'FKP', 'CDF',
       'YER', 'XCD', 'WST', 'SLL', 'SYP', 'TTD', 'IMP', 'BHD', 'BZD', 'QAR',
       'SRD', 'VUV', 'HNL', 'MUR', 'KYD', 'MNT', 'LAK', 'MOP', 'BTN', 'LSL',
       'HTG', 'MGA', 'GGP', 'RWF', 'SZL', 'KGS', 'BND', 'MRU', 'MVR'],
      dtype='object')

In [418]:
# Remove rows with symbols from above list
df = df[~df['CurrencySymbol'].isin(symbols_to_remove)]

In [419]:
df['CurrencySymbol'].value_counts()

USD    30426
EUR    25308
INR    11618
GBP     8023
CAD     4250
       ...
CRC       65
MKD       59
AZN       59
MDL       57
ETB       56
Name: CurrencySymbol, Length: 73, dtype: int64

In [420]:
df = pd.get_dummies(df, columns=['CurrencySymbol'])

In [421]:
# 17. CurrencyDesc

In [422]:
df['CurrencyDesc'].value_counts()

United States dollar    30426
European Euro           25308
Indian rupee            11618
Pound sterling           8023
Canadian dollar          4250
                        ...
Costa Rican colon          65
Azerbaijan manat           59
Macedonian denar           59
Moldovan leu               57
Ethiopian birr             56
Name: CurrencyDesc, Length: 73, dtype: int64

In [423]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['CurrencyDesc'])

In [424]:
# 18. CompTotal

In [425]:
df['CompTotal'].value_counts()

60000.0      1981
100000.0     1941
50000.0      1857
80000.0      1670
70000.0      1620
             ...
42045.0         1
29214.0         1
1345000.0       1
2689655.0       1
156500.0        1
Name: CompTotal, Length: 5627, dtype: int64

In [426]:
# Looks good

In [427]:
# 19. CompFreq

In [428]:
df['CompFreq'].value_counts()

Yearly     51204
Monthly    47126
Weekly      3968
Name: CompFreq, dtype: int64

In [429]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['CompFreq'])

In [430]:
# 20. ConvertedComp

In [431]:
df['ConvertedComp'].value_counts()

2000000.0    966
120000.0     843
1000000.0    809
100000.0     785
150000.0     709
            ...
88489.0        1
24780.0        1
54924.0        1
9500.0         1
50711.0        1
Name: ConvertedComp, Length: 13577, dtype: int64

In [432]:
# Looks good

In [433]:
# 21. WorkWeekHrs

In [434]:
df['WorkWeekHrs'].value_counts()

40.00     49073
45.00     10075
50.00      7332
35.00      5127
38.00      2892
          ...
31.10         1
16.50         1
162.00        1
8.20          1
33.75         1
Name: WorkWeekHrs, Length: 232, dtype: int64

In [435]:
# Looks good

In [436]:
# 22. PurchaseWhat

In [437]:
df['PurchaseWhat'].value_counts()

I have little or no influence       43317
I have some influence               39267
I have a great deal of influence    17917
Name: PurchaseWhat, dtype: int64

In [438]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['PurchaseWhat'])

In [439]:
# 23. LanguageWorkedWith

In [440]:
df['LanguageWorkedWith'].value_counts()

HTML/CSS;JavaScript;PHP;SQL                                                    2522
C#;HTML/CSS;JavaScript;SQL                                                     2252
HTML/CSS;JavaScript                                                            2124
C#;HTML/CSS;JavaScript;SQL;TypeScript                                          1732
Java                                                                           1489
                                                                               ...
C;Elixir;Erlang;Java;JavaScript                                                   1
Assembly;Bash/Shell/PowerShell;C++;C#;HTML/CSS;Java;JavaScript;PHP;Python;R       1
Assembly;Bash/Shell/PowerShell;C;C++;Go;Java;JavaScript;R;Scala;SQL               1
Bash/Shell/PowerShell;C++;C#;Go;Python;Rust;Other(s):                             1
Bash/Shell/PowerShell;HTML/CSS;JavaScript;Python;Ruby;TypeScript;Other(s):        1
Name: LanguageWorkedWith, Length: 29383, dtype: int64

In [441]:
LanguageWorkedWith_list = list(df.LanguageWorkedWith.str.get_dummies(sep=';').columns)

In [442]:
LanguageWorkedWith_list

['Assembly',
 'Bash/Shell/PowerShell',
 'C',
 'C#',
 'C++',
 'Clojure',
 'Dart',
 'Elixir',
 'Erlang',
 'F#',
 'Go',
 'HTML/CSS',
 'Haskell',
 'Java',
 'JavaScript',
 'Julia',
 'Kotlin',
 'Objective-C',
 'Other(s):',
 'PHP',
 'Perl',
 'Python',
 'R',
 'Ruby',
 'Rust',
 'SQL',
 'Scala',
 'Swift',
 'TypeScript',
 'VBA',
 'WebAssembly']

In [443]:
# Add values to dataframe
df = pd.concat([df.drop('LanguageWorkedWith', 1), df['LanguageWorkedWith'].str.get_dummies(sep=';').add_prefix('Language_')], 1)

In [444]:
# 24. LanguageDesireNextYear

In [445]:
df['LanguageDesireNextYear'].value_counts()

Python                                                                        2362
HTML/CSS;JavaScript;TypeScript                                                1142
HTML/CSS;JavaScript                                                           1101
C#                                                                            1063
C#;HTML/CSS;JavaScript;SQL;TypeScript                                          964
                                                                              ...
Bash/Shell/PowerShell;C#;Kotlin;Python;SQL                                       1
Assembly;C;C++;C#;Go;WebAssembly                                                 1
Bash/Shell/PowerShell;C;Go;Haskell;HTML/CSS;JavaScript;Python;Rust;SQL           1
C;C++;Clojure;Python                                                             1
Bash/Shell/PowerShell;HTML/CSS;JavaScript;Python;Ruby;TypeScript;Other(s):       1
Name: LanguageDesireNextYear, Length: 38114, dtype: int64

In [446]:
LanguageDesireNextYear_list = list(df.LanguageDesireNextYear.str.get_dummies(sep=';').columns)

In [447]:
LanguageDesireNextYear_list

['Assembly',
 'Bash/Shell/PowerShell',
 'C',
 'C#',
 'C++',
 'Clojure',
 'Dart',
 'Elixir',
 'Erlang',
 'F#',
 'Go',
 'HTML/CSS',
 'Haskell',
 'Java',
 'JavaScript',
 'Julia',
 'Kotlin',
 'Objective-C',
 'Other(s):',
 'PHP',
 'Perl',
 'Python',
 'R',
 'Ruby',
 'Rust',
 'SQL',
 'Scala',
 'Swift',
 'TypeScript',
 'VBA',
 'WebAssembly']

In [448]:
# Add values to dataframe
df = pd.concat([df.drop('LanguageDesireNextYear', 1), df['LanguageDesireNextYear'].str.get_dummies(sep=';').add_prefix('LanguageNextYear_')], 1)

In [449]:
# 25. DatabaseWorkedWith

In [450]:
df['DatabaseWorkedWith'].value_counts()

MySQL                                                                                 9257
Microsoft SQL Server                                                                  8398
PostgreSQL                                                                            4513
SQLite                                                                                3321
Microsoft SQL Server;MySQL                                                            2978
                                                                                      ...
DynamoDB;Elasticsearch;MySQL;Redis;SQLite;Other(s):                                      1
Cassandra;MariaDB;MongoDB;Microsoft SQL Server;MySQL;Redis                               1
Elasticsearch;IBM DB2;MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;Redis;SQLite         1
DynamoDB;Firebase;MariaDB;Oracle;PostgreSQL;Redis;SQLite                                 1
Couchbase;Elasticsearch;Microsoft SQL Server;MongoDB;MySQL;Oracle;PostgreSQL;Redis       1
Name: DatabaseWorkedWith, Length: 4868, dtype: int64

In [451]:
DatabaseWorkedWith_list = list(df.DatabaseWorkedWith.str.get_dummies(sep=';').columns)

In [452]:
DatabaseWorkedWith_list

['Cassandra',
 'Couchbase',
 'DynamoDB',
 'Elasticsearch',
 'Firebase',
 'IBM DB2',
 'MariaDB',
 'Microsoft SQL Server',
 'MongoDB',
 'MySQL',
 'Oracle',
 'Other(s):',
 'PostgreSQL',
 'Redis',
 'SQLite']

In [453]:
# Add values to dataframe
df = pd.concat([df.drop('DatabaseWorkedWith', 1), df['DatabaseWorkedWith'].str.get_dummies(sep=';').add_prefix('DatabaseWorkedWith_')], 1)

In [454]:
# 26. DatabaseDesireNextYear

In [455]:
df['DatabaseDesireNextYear'].value_counts()

PostgreSQL                                                                                5801
Microsoft SQL Server                                                                      5203
MySQL                                                                                     4951
MongoDB                                                                                   3838
SQLite                                                                                    2459
                                                                                          ...
Couchbase;DynamoDB;Elasticsearch;Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redis             1
Cassandra;Couchbase;Elasticsearch;MongoDB;Microsoft SQL Server;Oracle;PostgreSQL;Redis       1
Couchbase;DynamoDB;Elasticsearch;Firebase;MongoDB;Oracle;PostgreSQL;Redis                    1
IBM DB2;Microsoft SQL Server;MongoDB;MySQL;Oracle;PostgreSQL                                 1
Couchbase;Elasticsearch;Firebase;IBM DB2;MongoDB;Oracle;PostgreSQL;SQLite                    1
Name: DatabaseDesireNextYear, Length: 5386, dtype: int64

In [456]:
DatabaseDesireNextYear_list = list(df.DatabaseDesireNextYear.str.get_dummies(sep=';').columns)

In [457]:
DatabaseDesireNextYear_list

['Cassandra',
 'Couchbase',
 'DynamoDB',
 'Elasticsearch',
 'Firebase',
 'IBM DB2',
 'MariaDB',
 'Microsoft SQL Server',
 'MongoDB',
 'MySQL',
 'Oracle',
 'Other(s):',
 'PostgreSQL',
 'Redis',
 'SQLite']

In [458]:
# Add values to dataframe
df = pd.concat([df.drop('DatabaseDesireNextYear', 1), df['DatabaseDesireNextYear'].str.get_dummies(sep=';').add_prefix('DatabaseDesireNextYear_')], 1)

In [459]:
# 27. PlatformWorkedWith

In [460]:
df['PlatformWorkedWith'].value_counts()

Windows                                                                                             11682
Linux;Windows                                                                                        5716
Linux                                                                                                5373
Android                                                                                              3098
Microsoft Azure;Windows                                                                              2186
                                                                                                    ...
Android;AWS;Docker;iOS;Kubernetes;Linux;MacOS;Microsoft Azure;WordPress                                 1
Android;Arduino;Docker;Google Cloud Platform;Kubernetes;Linux;Raspberry Pi;Windows;WordPress            1
AWS;Docker;IBM Cloud or Watson;Linux;Microsoft Azure;Raspberry Pi;Slack                                 1
Android;Arduino;AWS;Docker;Heroku;IBM Cloud or Watson;iOS;Linux;MacOS;Raspberry Pi;Slack;Windows        1
Android;Google Cloud Platform;Heroku;Linux;MacOS;Microsoft Azure;Slack;Windows;WordPress                1
Name: PlatformWorkedWith, Length: 12312, dtype: int64

In [461]:
PlatformWorkedWith_list = list(df.PlatformWorkedWith.str.get_dummies(sep=';').columns)

In [462]:
PlatformWorkedWith_list

['AWS',
 'Android',
 'Arduino',
 'Docker',
 'Google Cloud Platform',
 'Heroku',
 'IBM Cloud or Watson',
 'Kubernetes',
 'Linux',
 'MacOS',
 'Microsoft Azure',
 'Other(s):',
 'Raspberry Pi',
 'Slack',
 'Slack Apps and Integrations',
 'Windows',
 'WordPress',
 'iOS']

In [463]:
# Add values to dataframe
df = pd.concat([df.drop('PlatformWorkedWith', 1), df['PlatformWorkedWith'].str.get_dummies(sep=';').add_prefix('PlatformWorkedWith_')], 1)

In [464]:
# 28. PlatformDesireNextYear

In [465]:
df['PlatformDesireNextYear'].value_counts()

Linux                                                                                 5251
Windows                                                                               4673
Linux;Windows                                                                         2798
Android                                                                               2293
Docker;Linux                                                                          1867
                                                                                      ...
Docker;Google Cloud Platform;IBM Cloud or Watson;iOS;Linux;Slack;Windows;WordPress       1
Android;Arduino;AWS;IBM Cloud or Watson;Windows                                          1
Android;Arduino;Docker;iOS;Kubernetes;MacOS;Microsoft Azure;Raspberry Pi;Windows         1
Android;AWS;Docker;Linux;MacOS;Microsoft Azure;Slack;Windows;WordPress                   1
Docker;Google Cloud Platform;iOS;MacOS;Slack                                             1
Name: PlatformDesireNextYear, Length: 14577, dtype: int64

In [466]:
PlatformDesireNextYear_list = list(df.PlatformDesireNextYear.str.get_dummies(sep=';').columns)

In [467]:
PlatformDesireNextYear_list

['AWS',
 'Android',
 'Arduino',
 'Docker',
 'Google Cloud Platform',
 'Heroku',
 'IBM Cloud or Watson',
 'Kubernetes',
 'Linux',
 'MacOS',
 'Microsoft Azure',
 'Other(s):',
 'Raspberry Pi',
 'Slack',
 'Slack Apps and Integrations',
 'Windows',
 'WordPress',
 'iOS']

In [468]:
# Add values to dataframe
df = pd.concat([df.drop('PlatformDesireNextYear', 1), df['PlatformDesireNextYear'].str.get_dummies(sep=';').add_prefix('PlatformDesireNextYear_')], 1)

In [469]:
# 29. MiscTechWorkedWith

In [470]:
df['MiscTechWorkedWith'].value_counts()

Node.js                                                                     17551
.NET;.NET Core                                                               7655
.NET                                                                         7505
.NET;.NET Core;Node.js                                                       3868
Pandas                                                                       3042
                                                                            ...
.NET;Ansible;Keras;TensorFlow;Teraform                                          1
Ansible;Apache Spark;Hadoop;Torch/PyTorch                                       1
Flutter;Node.js;React Native;TensorFlow;Torch/PyTorch;Unreal Engine             1
Ansible;Apache Spark;Hadoop;Pandas;React Native;TensorFlow;Torch/PyTorch        1
Cordova;.NET;.NET Core;Node.js;React Native;Unity 3D;Unreal Engine              1
Name: MiscTechWorkedWith, Length: 4753, dtype: int64

In [471]:
MiscTechWorkedWith_list = list(df.MiscTechWorkedWith.str.get_dummies(sep=';').columns)

In [472]:
MiscTechWorkedWith_list

['.NET',
 '.NET Core',
 'Ansible',
 'Apache Spark',
 'Chef',
 'Cordova',
 'CryEngine',
 'Flutter',
 'Hadoop',
 'Keras',
 'Node.js',
 'Other(s):',
 'Pandas',
 'Puppet',
 'React Native',
 'TensorFlow',
 'Teraform',
 'Torch/PyTorch',
 'Unity 3D',
 'Unreal Engine',
 'Xamarin']

In [473]:
# Add values to dataframe
df = pd.concat([df.drop('MiscTechWorkedWith', 1), df['MiscTechWorkedWith'].str.get_dummies(sep=';').add_prefix('MiscTechWorkedWith_')], 1)

In [474]:
# 30. MiscTechDesireNextYear

In [475]:
df['MiscTechDesireNextYear'].value_counts()

Node.js                                                                                     10951
.NET;.NET Core                                                                               4252
Node.js;React Native                                                                         4119
.NET Core                                                                                    2537
TensorFlow                                                                                   2154
                                                                                            ...
Ansible;Chef;Flutter;Hadoop;.NET Core                                                           1
.NET;.NET Core;Ansible;Apache Spark;Hadoop;Keras;Node.js;Pandas;TensorFlow;Torch/PyTorch        1
Apache Spark;Cordova;Flutter;Hadoop;Node.js;Unreal Engine                                       1
Flutter;React Native;TensorFlow;Unity 3D;Xamarin                                                1
.NET;.NET Core;Ansible;Teraform;Xamarin                                                         1
Name: MiscTechDesireNextYear, Length: 9349, dtype: int64

In [476]:
MiscTechDesireNextYear_list = list(df.MiscTechDesireNextYear.str.get_dummies(sep=';').columns)

In [477]:
MiscTechDesireNextYear_list

['.NET',
 '.NET Core',
 'Ansible',
 'Apache Spark',
 'Chef',
 'Cordova',
 'CryEngine',
 'Flutter',
 'Hadoop',
 'Keras',
 'Node.js',
 'Other(s):',
 'Pandas',
 'Puppet',
 'React Native',
 'TensorFlow',
 'Teraform',
 'Torch/PyTorch',
 'Unity 3D',
 'Unreal Engine',
 'Xamarin']

In [478]:
# Add values to dataframe
df = pd.concat([df.drop('MiscTechDesireNextYear', 1), df['MiscTechDesireNextYear'].str.get_dummies(sep=';').add_prefix('MiscTechDesireNextYear_')], 1)

In [479]:
# 31. OpSys

In [480]:
df['OpSys'].value_counts()

Windows        68053
MacOS          37341
Linux-based    37017
BSD              166
Name: OpSys, dtype: int64

In [481]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['OpSys'])

In [482]:
# 32. SOVisitFreq

In [483]:
df['SOVisitFreq'].value_counts()

Daily or almost daily                                 43772
Multiple times per day                                42558
A few times per week                                  33202
A few times per month or weekly                       18880
Less than once per month or monthly                    4628
I have never visited Stack Overflow (before today)      694
Name: SOVisitFreq, dtype: int64

In [484]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['SOVisitFreq'])

In [485]:
# 33. SOAccount

In [486]:
df['SOAccount'].value_counts()

Yes                          121208
No                            14316
Not sure / can't remember      4269
Not sure/can't remember        3397
Name: SOAccount, dtype: int64

In [487]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['SOAccount'])

In [488]:
# 34. SOPartFreq

In [489]:
df['SOPartFreq'].value_counts()

Less than once per month or monthly                   50411
I have never participated in Q&A on Stack Overflow    27382
A few times per month or weekly                       22185
A few times per week                                  11105
Daily or almost daily                                  5838
Multiple times per day                                 3323
Name: SOPartFreq, dtype: int64

In [490]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['SOPartFreq'])

In [491]:
# 35. SOComm

In [492]:
df['SOComm'].value_counts()

Yes, somewhat      42211
No, not really     34319
Neutral            29301
Yes, definitely    23933
No, not at all     11191
Not sure            2163
Name: SOComm, dtype: int64

In [493]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['SOComm'])

In [494]:
# 36. WelcomeChange

In [495]:
df['WelcomeChange'].value_counts()

Just as welcome now as I felt last year                    99076
Somewhat more welcome now than last year                   13681
A lot more welcome now than last year                       7831
Somewhat less welcome now than last year                    7280
Not applicable - I did not use Stack Overflow last year     4647
A lot less welcome now than last year                       4632
Name: WelcomeChange, dtype: int64

In [496]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['WelcomeChange'])

In [497]:
# 37. Age

In [498]:
df['Age'].value_counts()

25.0    7278
28.0    6733
26.0    6701
27.0    6683
24.0    6611
        ...
32.5       1
39.5       1
98.9       1
19.8       1
34.5       1
Name: Age, Length: 144, dtype: int64

In [499]:
# Looks good

In [500]:
# 38. Gender

In [501]:
df['Gender'].value_counts()

Man                                                            122705
Woman                                                           10086
Non-binary, genderqueer, or gender non-conforming                 971
Man;Non-binary, genderqueer, or gender non-conforming             298
Woman;Non-binary, genderqueer, or gender non-conforming           252
Woman;Man                                                         197
Woman;Man;Non-binary, genderqueer, or gender non-conforming        92
Name: Gender, dtype: int64

In [502]:
Gender_list = list(df['Gender'].str.get_dummies(sep=';'))

In [503]:
Gender_list

['Man', 'Non-binary, genderqueer, or gender non-conforming', 'Woman']

In [504]:
# Add values to dataframe
df = pd.concat([df.drop('Gender', 1), df['Gender'].str.get_dummies(sep=';').add_prefix('Gender_')], 1)

In [505]:
# 39. Trans

In [506]:
df['Trans'].value_counts()

No     130216
Yes      1461
Name: Trans, dtype: int64

In [507]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['Trans'])

In [508]:
# 40. Sexuality

In [509]:
df['Sexuality'].value_counts()

Straight / Heterosexual                                  109278
Bisexual                                                   5313
Gay or Lesbian                                             2759
Bisexual;Straight / Heterosexual                            744
Queer                                                       246
Bisexual;Queer                                              188
Bisexual;Gay or Lesbian                                     151
Bisexual;Gay or Lesbian;Straight / Heterosexual             109
Gay or Lesbian;Queer                                         90
Straight / Heterosexual;Queer                                56
Gay or Lesbian;Straight / Heterosexual                       49
Bisexual;Gay or Lesbian;Straight / Heterosexual;Queer        35
Bisexual;Gay or Lesbian;Queer                                24
Bisexual;Straight / Heterosexual;Queer                       10
Name: Sexuality, dtype: int64

In [510]:
Sexuality_list = list(df.Sexuality.str.get_dummies(sep=';'))

In [511]:
Sexuality_list

['Bisexual', 'Gay or Lesbian', 'Queer', 'Straight / Heterosexual']

In [512]:
# Add values to dataframe
df = pd.concat([df.drop('Sexuality', 1), df['Sexuality'].str.get_dummies(sep=';').add_prefix('Sexuality_')], 1)

In [513]:
# 41. Ethnicity

In [514]:
df['Ethnicity'].value_counts()

White or of European descent                                                                                                                     80070
South Asian                                                                                                                                      12762
East Asian                                                                                                                                        5132
Middle Eastern                                                                                                                                    4075
Black or of African descent                                                                                                                       3418
                                                                                                                                                 ...
Hispanic or Latino/Latina;Middle Eastern;White or of European descent;Biracial                                                                       1
East Asian;Hispanic or Latino/Latina;Middle Eastern                                                                                                  1
East Asian;South Asian;Biracial;Multiracial                                                                                                          1
Native American, Pacific Islander, or Indigenous Australian;South Asian;Multiracial                                                                  1
Black or of African descent;East Asian;Hispanic or Latino/Latina;Middle Eastern;South Asian;White or of European descent;Biracial;Multiracial        1
Name: Ethnicity, Length: 350, dtype: int64

In [515]:
# We can drop this column

In [516]:
df = df.drop(columns=['Ethnicity'])

In [517]:
# 42. SurveyLength

In [518]:
df['SurveyLength'].value_counts()

Appropriate in length    95803
Too long                 37586
Too short                 3897
Name: SurveyLength, dtype: int64

In [519]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['SurveyLength'])

In [520]:
# 43. SurveyEase

In [521]:
df['SurveyEase'].value_counts()

Easy                          92482
Neither easy nor difficult    42676
Difficult                      2337
Name: SurveyEase, dtype: int64

In [522]:
# Simple one hot-encoding
df = pd.get_dummies(df, columns=['SurveyEase'])

In [523]:
# Fill nan values - in the end

In [524]:
count_na = df.isna().sum()

In [525]:
count_na[count_na > 0].sort_values(ascending=False)

ConvertedComp    61797
CompTotal        61614
WorkWeekHrs      46954
YearsCodePro     32236
Age              28142
JobSeek          20751
Age1stCode        7671
YearsCode         7582
dtype: int64

In [526]:
# Let's try to fill missing values or remove column

In [527]:
# 1. ConvertedComp
df['ConvertedComp'].std()

264532.6144262284

In [528]:
# Standard dev is really big. We have to remove column

In [529]:
df = df.drop(columns = ['ConvertedComp'])

In [530]:
# 2. CompTotal

In [531]:
df['CompTotal'].mean()

1.2341290997768688e+242

In [532]:
# Some weird values - remove column
df = df.drop(columns = ['CompTotal'])

In [533]:
# 3. WorkWeekHrs
df['WorkWeekHrs'].std()

31.274136284195844

In [534]:
df['WorkWeekHrs'].mean()

41.617999529414355

In [535]:
# We can fill missing values with mean

In [536]:
df['WorkWeekHrs'] = df['WorkWeekHrs'].fillna(df['WorkWeekHrs'].mean())

In [537]:
# 4. YearsCodePro

In [538]:
df['YearsCodePro'].std()

7.74967820990784

In [539]:
df['YearsCodePro'].mean()

8.33560840800603

In [540]:
# Fill missing values with ffill

In [541]:
df['YearsCodePro'] = df['YearsCodePro'].fillna(method='ffill')

In [542]:
# 5. YearsCode

In [543]:
df['YearsCode'].std()

9.428479120365628

In [544]:
df['YearsCode'].mean()

12.126492392270102

In [545]:
# Fill missing values with ffill

In [546]:
df['YearsCode'] = df['YearsCode'].fillna(method='ffill')

In [547]:
# 6. Age

In [548]:
# Age is too hard to predict, we cannot use mean for it. We can try to use ffill, but if not good results - remove column

In [549]:
df['Age'] = df['Age'].fillna(method='ffill')

In [550]:
# 7. JobSeek - out target varaible - we have to remove all rows where JobSeel equal NaN

In [551]:
df['JobSeek'].value_counts()

I’m not actively looking, but I am open to new opportunities    76248
I am not interested in new job opportunities                    33871
I am actively looking for a job                                 20776
Name: JobSeek, dtype: int64

In [552]:
df = df[df['JobSeek'].notna()]

In [553]:
# 8. Age1stCode - ffill

In [554]:
df['Age1stCode'].mean()

15.407668086682719

In [555]:
df['Age1stCode'].std()

5.020589934987553

In [556]:
df['Age1stCode'] = df['Age1stCode'].fillna(method='ffill')

In [557]:
count_na = df.isna().sum()
count_na[count_na > 0].sort_values(ascending=False)

YearsCodePro    1
dtype: int64

In [558]:
# Remove the last missing value
df = df.dropna()

In [560]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130894 entries, 2 to 153036
Columns: 585 entries, YearsCode to SurveyEase_Neither easy nor difficult
dtypes: float64(5), int64(215), object(1), uint8(364)
memory usage: 267.1+ MB

In [561]:
# Each column is numerical. Only one is object type, but this is target variable and it'll be converted later

In [562]:
df.select_dtypes(include=['object'])

                                                  JobSeek
2       I’m not actively looking, but I am open to new...
3            I am not interested in new job opportunities
4            I am not interested in new job opportunities
5            I am not interested in new job opportunities
6       I’m not actively looking, but I am open to new...
...                                                   ...
153029       I am not interested in new job opportunities
153031       I am not interested in new job opportunities
153033       I am not interested in new job opportunities
153035  I’m not actively looking, but I am open to new...
153036  I’m not actively looking, but I am open to new...

[130894 rows x 1 columns]

In [564]:
df.describe()

,YearsCode,Age1stCode,YearsCodePro,WorkWeekHrs,Age,MainBranch_I am a developer by profession,MainBranch_I am a student who is learning to code,"MainBranch_I am not primarily a developer, but I write code sometimes as part of my work",MainBranch_I code primarily as a hobby,"MainBranch_I used to be a developer by profession, but no longer am",...,Sexuality_Bisexual,Sexuality_Gay or Lesbian,Sexuality_Queer,Sexuality_Straight / Heterosexual,SurveyLength_Appropriate in length,SurveyLength_Too long,SurveyLength_Too short,SurveyEase_Difficult,SurveyEase_Easy,SurveyEase_Neither easy nor difficult
count,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000,130894.0,130894.0,...,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000,130894.000000
mean,12.312532,15.409163,8.294563,41.622677,30.668963,0.799884,0.109050,0.091066,0.0,0.0,...,0.045197,0.022025,0.004576,0.781067,0.670397,0.269439,0.025517,0.016135,0.650427,0.300151
std,9.244270,5.019940,7.659875,27.909360,8.870148,0.400089,0.311703,0.287704,0.0,0.0,...,0.207736,0.146767,0.067493,0.413525,0.470071,0.443670,0.157689,0.125996,0.476837,0.458325
min,0.500000,3.000000,0.500000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,12.000000,3.000000,40.000000,24.000000,1.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10.000000,15.000000,6.000000,40.000000,29.000000,1.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,17.000000,18.000000,11.000000,41.618000,35.000000,1.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,55.000000,90.000000,55.000000,4850.000000,279.000000,1.000000,1.000000,1.000000,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [563]:
# Save dataframe to csv file 
df.to_csv('clear_data.csv', sep = ';')

In [1]:
# Korelacja
# Wykresy

# Regresja logistyczna
# Drzewa decyzyjne -> lasy losowe
# XGboost / neural nets

# Macierze pomyłek, porównanie modeli